Repository dk9394/angular-release-deployment-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": ["prettier --write", "eslint --fix"],
  "*.{scss,css,json}": ["prettier --write"]
}

docs: add Git Flow workflow documentation
  GIT-WORKFLOW.md
Due: none

docs: add branch protection test file
  BRANCH-PROTECTION-SETUP.md
  BRANCH-PROTECTION-TEST.md
  GITHUB-SETUP.md
Due: none

docs: add PR template for consistent reviews
  .github/pull_request_template.md
Due: none

docs: add quick Git operations guide
  GIT-OPERATIONS-QUICK-GUIDE.md
Due: none

Feature/test branch protection (#1)
  .github/pull_request_template.md
  BRANCH-PROTECTION-SETUP.md
  BRANCH-PROTECTION-TEST.md
  GIT-OPERATIONS-QUICK-GUIDE.md
  GITHUB-SETUP.md
Due: none

docs: add implementation checklist for tracking progress
  IMPLEMENTATION-CHECKLIST.md
Due: none

docs: add implementation checklist for tracking progress (#2)
  IMPLEMENTATION-CHECKLIST.md
Due: none

docs: update implementation checklist with complete file contents
  AWS-DEPLOYMENT-GUIDE.md
  IMPLEMENTATION-CHECKLIST.md
Due: none

docs: aws configured and updated docs
  .gitignore
  AWS-KNOWLEDGE-GUIDE.md
  IMPLEMENTATION-CHECKLIST.md
  deploy.sh
  src/assets/config/environment.production.json
Due: prettier --write

docs: aws and other docs recommit
  .gitignore
  AWS-KNOWLEDGE-GUIDE.md
  IMPLEMENTATION-CHECKLIST.md
  deploy.sh
  src/assets/config/environment.production.json
Due: prettier --write

feat: implement CI/CD pipeline with GitHub Actions
  .github/workflows/deploy-s3.yml
  CICD-SETUP-GUIDE.md
  DEPLOYMENT-OPTIONS.md
  GITHUB-ACTIONS-MONITORING-GUIDE.md
  deploy.mjs
  package.json
Due: prettier --write

feat: testing dev deployment
  src/app/app.ts
Due: prettier --write, eslint --fix

test: verify CI/CD pipeline with secrets configured
  IMPLEMENTATION-CHECKLIST.md
  src/app/app.component.ts
Due: prettier --write, eslint --fix

fix: use static URLs in environment.url fields
  .github/workflows/deploy-s3.yml
Due: none

refactor: use environment variables instead of secrets for non-sensitive config
  .github/workflows/deploy-s3.yml
Due: none

docs: update secrets configuration to reflect env var refactoring
  CICD-SETUP-GUIDE.md
  IMPLEMENTATION-CHECKLIST.md
Due: none

fix: testcases fixed
  src/app/app.spec.ts
Due: prettier --write, eslint --fix

feat: testing dev deployment (#3)
  src/app/app.ts
Due: prettier --write, eslint --fix

Develop to main (#4)
  .github/pull_request_template.md
  .github/workflows/deploy-s3.yml
  .gitignore
  AWS-DEPLOYMENT-GUIDE.md
  AWS-KNOWLEDGE-GUIDE.md
  BRANCH-PROTECTION-SETUP.md
  BRANCH-PROTECTION-TEST.md
  CICD-SETUP-GUIDE.md
  DEPLOYMENT-OPTIONS.md
  GIT-OPERATIONS-QUICK-GUIDE.md
  GITHUB-ACTIONS-MONITORING-GUIDE.md
  GITHUB-SETUP.md
  IMPLEMENTATION-CHECKLIST.md
  deploy.mjs
  deploy.sh
  package.json
  src/app/app.component.ts
  src/app/app.spec.ts
  src/app/app.ts
  src/assets/config/environment.production.json
Due: prettier --write, eslint --fix

feat: complete docker & ecs boilerplate (phase 6 - reference only)
  .aws/task-definition-dev.json
  .aws/task-definition-prod.json
  .aws/task-definition-qa.json
  .aws/task-definition-staging.json
  .dockerignore
  .github/workflows/deploy-ecs.yml.skipped
  DEPLOYMENT-WORKFLOW-MENTAL-MODEL.md
  DOCKER-SETUP-GUIDE.md
  Dockerfile
  ECS-DEPLOYMENT-GUIDE.md
  IMPLEMENTATION-CHECKLIST.md
  PHASE-6-DOCKER-BOILERPLATE-SUMMARY.md
  cleanup-ecs.sh
  nginx.conf
  setup-ecs.sh
Due: prettier --write

feat: add performance monitoring (phase 8 - web vitals + lighthouse ci)
  .github/workflows/performance-check.yml
  PERFORMANCE-GUIDE.md
  lighthouserc.json
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/core/services/performance.service.ts
Due: prettier --write, eslint --fix

fix: correct performance tracking initialization in app.ts
  src/app/app.component.ts
  src/app/app.ts
Due: prettier --write, eslint --fix

fix: test lighthouse
  PERFORMANCE-GUIDE.md
  src/app/app.ts
Due: prettier --write, eslint --fix

fix: ensure lighthouse reports upload even when checks fail
  .github/workflows/performance-check.yml
Due: none

fix: test lighthouse (#5)
  .github/workflows/performance-check.yml
  PERFORMANCE-GUIDE.md
  src/app/app.ts
Due: prettier --write, eslint --fix

feat: add automated PR comments for Lighthouse results
  .github/workflows/performance-check.yml
Due: none

docs: add PR comments section to performance guide
  PERFORMANCE-GUIDE.md
Due: none

Develop (#6)
  .aws/task-definition-dev.json
  .aws/task-definition-prod.json
  .aws/task-definition-qa.json
  .aws/task-definition-staging.json
  .dockerignore
  .github/workflows/deploy-ecs.yml.skipped
  .github/workflows/performance-check.yml
  DEPLOYMENT-WORKFLOW-MENTAL-MODEL.md
  DOCKER-SETUP-GUIDE.md
  Dockerfile
  ECS-DEPLOYMENT-GUIDE.md
  IMPLEMENTATION-CHECKLIST.md
  PERFORMANCE-GUIDE.md
  PHASE-6-DOCKER-BOILERPLATE-SUMMARY.md
  cleanup-ecs.sh
  lighthouserc.json
  nginx.conf
  package-lock.json
  package.json
  setup-ecs.sh
  src/app/app.ts
  src/app/core/services/performance.service.ts
Due: prettier --write, eslint --fix

test: lighthouse test
  src/app/app.ts
Due: prettier --write, eslint --fix

test: lighthouse test (#7)
  src/app/app.ts
Due: prettier --write, eslint --fix

feat: add bundle analysis tooling (phase 10 step 1)
  .gitignore
  package.json
Due: prettier --write

fix: replace webpack-bundle-analyzer with custom analysis script
  analyze-bundle.mjs
  package.json
Due: prettier --write

feat: add tree shaking optimizations for better bundle efficiency
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

feat: implement lazy loading routes for code splitting
  src/app/app-routing-module.ts
  src/app/features/dashboard/dashboard-module.ts
  src/app/features/dashboard/dashboard-routing-module.ts
  src/app/features/dashboard/dashboard/dashboard.html
  src/app/features/dashboard/dashboard/dashboard.scss
  src/app/features/dashboard/dashboard/dashboard.spec.ts
  src/app/features/dashboard/dashboard/dashboard.ts
Due: prettier --write, eslint --fix

feat: add comprehensive build optimization flags
  angular.json
Due: prettier --write

feat: add build performance monitoring script
  build-stats.mjs
  package.json
Due: prettier --write

docs: update documentation with phases 6-15 summary
  IMPLEMENTATION-CHECKLIST.md
  PHASES-6-TO-15-SUMMARY.md
  README.md
Due: none

docs: add comprehensive full project roadmap
  FULL-ROADMAP.md
Due: none

fix: package json fixed
  package-lock.json
Due: prettier --write

fix: add --run flag to npm test in CI to prevent hanging
  .github/workflows/deploy-s3.yml
Due: none
